# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/

# Environment files
.env
.env.local
.env*.local

# Editor
.DS_Store
.vscode/settings.json
*.swp
*.swo

# Turbo
.turbo/

# pnpm
pnpm-debug.log

# Logs
*.log
npm-debug.log*

# Database
*.sqlite
*.db

# PWA
**/public/sw.js
**/public/workbox-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
